<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body background="assets/img/new.jpg">
	<nav class="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Web Scrapper</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a class="navLink" href="/">Home</a></li>
	      <li class="location"><a href="/saved">Saved Articles</a></li>
	    </ul>
	  </div>
	</nav>

	<!-- Title section for the page -->
	<div class="container title">
		<h1 class="mainTitle">
			Mongo Scraper
		</h1>
		<h3 class="mainTitle">
			Save Articles
		</h3>
	</div>
	<!-- for each article -->
	<div class="container" id="saveBod">
		{{{ body }}}
	</div>

	<!-- modal -->
	<div class="modal fade" id="viewNotes" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 id="noteTitle" class="modal-title">Article Notes</h4>
				</div>
				<div class="modal-body">
					<div id="savedNotes">

					</div>
					<div id="inputForm">
						<textarea id="noteInput" placeholder="Add Personal Notes"></textarea>
							<span>
								<button id="addNote" type="button" class="btn" data-id="" data-dismiss="modal">
									Add Note
								</button>
							</span>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/javascript.js"></script>
</body>
</html>